{
	admin off
	default_sni 10.10.0.144
	servers :443 {
		protocols h1 h2
	}
}

http://10.10.0.144 {
	redir https://10.10.0.144{uri} permanent
}

https://10.10.0.144 {
	tls internal

	handle /caddy-root-ca.crt {
		header Content-Disposition "attachment; filename=caddy-root-ca.crt"
		rewrite * /root.crt
		root * /data/caddy/pki/authorities/local
		file_server
	}

	handle {
		route {
			encode zstd gzip

			@backend path /api/* /ai/* /health
			reverse_proxy @backend api:3100 {
				flush_interval -1
			}

			root * /srv
			try_files {path} /index.html
			file_server
		}
	}
}
