{
	admin off
	default_sni tokenhub.haizhi.com
	servers :443 {
		protocols h1 h2
	}
}

http://tokenhub.haizhi.com, http://10.10.0.144 {
	redir https://tokenhub.haizhi.com{uri} permanent
}

https://tokenhub.haizhi.com {
	tls /etc/caddy/certs/haizhi.com_cert_chain.pem /etc/caddy/certs/haizhi.com_key.key

	handle {
		route {
			encode zstd gzip

			@backend path /api/* /ai/* /health
			reverse_proxy @backend api:3000 {
				flush_interval -1
			}

			root * /srv
			try_files {path} /index.html
			file_server
		}
	}
}
